*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;

    --font-InterTight: "Inter tight";
    --font-Inter: "Inter";

    font-size: 16px
}

.container{
    padding: 0.75rem;
}

body{
    background-color: #14151d;
}


.logo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-tertiary);
    padding: 0.75rem 1.25rem;
    border-bottom-right-radius: 0.75rem;
    height: 3.75rem;
    width: 8.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }

}

.logo span{
    color: var(--background-brand);
    font-family: var(--font-Inter);
    font-weight: bold;
    font-size: 1rem;
} 

@media (max-width: 1100px) {

    :root{
        font-size: 14px;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

}